@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
  font-family: "Josefin Sans", sans-serif;
}

.sidebar {
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding: 20px;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.sidebar h4 {
  margin-bottom: 20px;
}

.sidebar .nav-link {
  margin: 10px 0;
  color: #007bff;
}

.sidebar .nav-link.active {
  font-weight: bold;
  color: #0056b3;
}
